@font-face {
    font-family: 'florida_vibesregular';
    src: url('fonts/florida_vibes_by_turbologo-webfont.woff2') format('woff2'),
         url('fonts/florida_vibes_by_turbologo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    margin: 0;
}

img{
    width: 5rem;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(jared-murray-NSuufgf-BME-unsplash.jpg);
}

.logo{
    font-family: 'florida_vibesregular';
    white-space: nowrap;
    font-size: 5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, 0.3);
    flex-grow: 1;
    
}

#logo-name{
    padding-top: 30px;
}

.sign-up{
    height: 100vh;
    background-color: white;
    flex-grow: 2;
}

