@font-face {
    font-family: 'florida_vibesregular';
    src: url('fonts/florida_vibes_by_turbologo-webfont.woff2') format('woff2'),
         url('fonts/florida_vibes_by_turbologo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    margin: 0;
}

img{
    width: 5rem;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(jared-murray-NSuufgf-BME-unsplash.jpg);
}

.logo{
    position: relative;
    bottom: 50px;
    font-family: 'florida_vibesregular';
    white-space: nowrap;
    font-size: 5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, 0.3);
    flex-grow: 1;
    
}

#logo-name{
    padding-top: 30px;
}

.sign-up{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    height: 100vh;
    background-color: rgb(248, 248, 248);
    flex-grow: 2;
}

input, label{
    display: block;
}

label{
    font-size: 0.7rem;
}

input{
    border-radius: 0.2em;
}



form{
    padding: 10px 0px 10px 0px;
    background-color: white;
    box-shadow: 2px 3px 5px grey;
    display: flex;
    flex-direction: column;
    align-self: center;
    

}

fieldset{
    display: flex;
    gap: 60px;
    border: 0px;
}

#description, fieldset{
    padding-left: 40px;
}
