*{
    margin: 0;
}

img{
    width: 5rem;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(jared-murray-NSuufgf-BME-unsplash.jpg);
}


